[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.3"
djangorestframework = "==3.15.1"
asgiref = "==3.8.1"
sqlparse = "==0.4.4"
tzdata = "==2024.1"
django-cors-headers = "*"
python-barcode = "*"
reportlab = "*"
svglib = "*"
win32printing = "*"

[dev-packages]

[requires]
python_version = "3.12"
